
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

@font-face {
  font-family: 'Grenze';
  src: url('{{ "/../fonts/Grenze-Regular.woff2" | relative_url }}') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$figtree: "Figtree", serif;
$grenze: 'Grenze', Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}